<h3>Our goal is to help bring together any people who are interested in playing paddel in Barcelona, from beginners to advanced players. 
We've set up Matches for all players' levels.</h3>

<h3>Want to join the Barcelona Padel? 

It's easy join Barcelona paddel. Register yourself by filing out the form below. The Open Ladder is free to join and there is not signup fee for setting up matches. 

 If you have any questions, you can also get in contact with us directly by contacting either Ferran Cabrer i Vilagut at 622254458.

 If you have already registered yourself and want to edit your profile or ranking, you can edit your profile by clicking on the link below. There is one login for the site, you can select if you want to play in Barcelona Paddel Matches in the "Play in" menu option. 
</h3>

	<p>What's ANTRP? <a href=''>(en castellano)</a>
 The Adapted National Tennis Rating Program (NTRP) is the adaptation to the paddel of the official system for determining the levels of competition for the USTA League Tennis Program. 

Purpose
 The primary goal of the program is to help all tennis players enjoy the game by providing a method of classifying skill levels for more compatible matches, group lessons, league play, tournaments and other programs.

To place yourself
 Begin with 1.5. Read all categories carefully and then decide which one best describes your present ability level. Be certain that you qualify on all points of all preceding levels as well as those in the level you choose. 

 General Characteristics of Various NTRP Playing Levels

1.5
 You have limited experience and are working primarily on getting the ball in play.

2.0 
 You lack court experience and your strokes need developing. You are familiar with the basic positions for singles and doubles play. 

2.5 
 You are learning to judge where the ball is going, although your court coverage is limited. You can sustain a short rally of slow pace with other players of the same ability. 

3.0 
 You are fairly consistent when hitting medium-paced shots, but are not comfortable with all strokes and lack execution when trying for directional control, depth, or power. Your most common doubles formation is one-up, one-back. 

3.5 
 You have achieved improved stroke dependability with directional control on moderate shots, but need to develop depth and variety. You exhibit more aggressive net play, have improved court coverage and are developing teamwork in doubles. 

4.0 
 You have dependable strokes, including directional control and depth on both forehand and backhand sides on moderate-paced shots. You can use lobs, overheads, approach shots and volleys with some success and occasionally force errors when serving. Rallies may be lost due to impatience. Teamwork in doubles is evident. 

4.5 
 You have developed your use of power and spin and can handle pace. You have sound footwork, can control depth of shots, and attempt to vary game plan according to your opponents. You can hit first serves with power and accuracy and place the second serve. You tend to overhit on difficult shots. Aggressive net play is common in doubles. 

5.0 
 You have good shot anticipation and frequently have an outstanding shot or attribute around which a game may be structured. You can regularly hit winners or force errors off of short balls and can put away volleys. You can successfully execute lobs, drop shots, half volleys, overhead smashes, and have good depth and spin on most second serves. 

5.5 
 You have mastered power and/or consistency as a major weapon. You can vary strategies and styles of play in a competitive situation and hit dependable shots in a stress situation. 

6.0 to 7.0 
 You have had intensive training for national tournament competition at the junior and collegiate levels and have obtained a sectional and/or national ranking. 

7.0 
 You are a world-class player.

source: http://www.usta.com/

TRADUCION EN CASTELLANO 

1.5
 Tiene limitada experiencia y aún está trabajando principalmente por poner la pelota en juego

2.0 
 Necesita experiencia en cancha. Tiene una lógica debilidad en sus golpes, pero está familiarizado con las posiciones básicas para el juego de singles y dobles

2.5 
 Éste jugador está aprendiendo a juzgar hacia dónde va la bola pero es deficiente en su intento por cubrir la cancha. Puede mantener un boleo corto de ritmo lento con jugadores del mismo nivel.

3.0 
 Éste jugador tiene alguna consistencia cuando le da a bolas de ritmo mediano pero no se siente cómodo con todos los tiros y no ejecuta bien cuando intenta lograr control en la dirección de la bola, profundidad ni poder. La formación más común en dobles es uno al frente y otro atrás.

3.5 
 Éste jugador ha logrado mejorar la confiabilidad de sus tiros con control de dirección en tiros moderados pero aún no tiene profundidad ni variedad en los tiros. Exhibe más agresividad en la malla, ha mejorado la ejecutoria cubriendo la cancha y está desarrollando el juego en equipo en dobles.

4.0 
 Éste jugador tiene tiros confiables, incluyendo control de dirección y profundidad tanto en el forehand como en el backhand en tiros de ritmo moderado (“mediumpaced”). Logra algún éxito con los lobs, overheads y approach shots y ocasionalmente obliga a un error cuando sirve. A veces pierde el boleo por falta de paciencia. En dobles, es evidente la colaboración en equipo.

4.5 
 Éste jugador ha desarrollado el poder y el “spin” y tiene buen control del ritmo del juego. Maneja bien el movimiento de los pies, controla la profundidad de sus tiros e intenta variar el plan de juego dependiendo de su contrincante. Su primer servicio es poderoso y certero y coloca bien el segundo servicio. Tiende a excederse (“overhit”) en los tiros difíciles. En dobles, es común que juegue agresivamente en la malla.

5.0 
 Éste jugador es bueno anticipando tiros y frecuentemente tiene un tiro o atributo sobresaliente sobre el cual puede estructurar el juego. Puede ganar el punto o forzar errores en tiros cortos con regularidad y puede ganar los “volleys”. Sabe hacer un lob, drop shot, halfvolley y overhead smash exitosamente y logra profundidad y “spin” en la mayoría de los segundos servicios.

5.5 
 Éste jugador domina el poder / la consistencia y son un arma importante en su juego. Es capaz de variar la estrategia y el estilo de juego en una situación competitiva y hace tiros confiables en una

6.0
 Éste jugador ha entrenado intensivamente para participar en torneos de competencias nacionales a nivel juvenil y universitario y ha obtenido clasificación seccional y/o nacional.

6.5 
 Éste jugador actualmente juega en los eventos del circuito de USTA con la esperanza de lograr una carrera profesional en el tenis.

7.0
 Éste es un jugador a nivel mundial.


	</p>

	<p>
REGLAMENT DE JOC
DEL PÀDEL
FEDERACIÓ INTERNACIONAL DE PÀDEL
FEDERACIÓ ESPANYOLA DE PÀDEL
FEDERACIÓ CATALANA DE PÀDEL
Aprovació Assemblea General Ordinària 30/06/09
Reglament de joc del Pàdel – Federació Catalana de Pàdel
2 de 38
ÍNDEX
Pàgina
PRÒLEG .......................................................................................... 4
LA PISTA......................................................................................... 5
•  DIMENSIONS............................................................................... 5
•  XARXA........................................................................................ 6
•  TANCAMENTS.............................................................................. 7
•  FONS.......................................................................................... 7
•  LATERALS................................................................................... 8
V ARIANT  1 ........................................................................................ 8
V ARIANT  2 ........................................................................................ 8
•  TERRA...................................................................................... 10
•  ACCESSOS................................................................................ 11
•  ZONA DE SEGURETAT I JOC EXTERIOR.......................................... 13
•  IL·LUMINACIÓ ........................................................................... 13
LA PILOTA .................................................................................... 16
LA PALA........................................................................................ 17
REGLA 1. PUNTUACIÓ EN UN JOC .................................................. 19
→ PUNTUACIÓ EN UN JOC............................................................... 20
M ÈTODE DE PUNTUACIÓ SENSE AVANTATGE  ( PUNT D ’ OR )................................... 20
→ PUNTUACIÓ EN UN SET............................................................... 20
SETS A QUATRE O MINI SET:............................................................. 20
JOC DECISIU DEL PARTIT (7 PUNTS):................................................. 20
JOC DECISIU DEL PARTIT (10 PUNTS): ............................................... 21
REGLA 2. ELS TEMPS ..................................................................... 21
REGLA 3. POSICIÓ DELS JUGADORS.............................................. 23
REGLA 4. ELECCIÓ DE CAMP I DEL SERVEI..................................... 24
REGLA 5. CANVIS DE CAMP ........................................................... 24
REGLA 6. EL SERVEI ...................................................................... 25
REGLA 7. FALTA DE SERVEI........................................................... 26
REGLA 8. LA RESTADA O TORNADA DE SERVEI .............................. 27
REGLA 9. REPETICIÓ DEL SERVEI O LET DE SERVEI....................... 28
REGLA 10. REPETICIÓ D'UN PUNT O LET........................................ 29
REGLA 11. INTERFERÈNCIA .......................................................... 29
REGLA 12. PILOTA EN JOC............................................................. 30
REGLA 13. PUNT PERDUT .............................................................. 30
Reglament de joc del Pàdel – Federació Catalana de Pàdel
3 de 38
REGLA 14. TORNADA CORRECTA ................................................... 32
REGLA 15. PUNT GUANYAT............................................................ 33
REGLA 16. JOC AUTORITZAT FORA DE LA PISTA............................ 33
REGLA 17. SUBSTITUCIÓ DE PILOTES ........................................... 33
NORMES D’ETIQUETA I CONDUCTA ............................................... 35
CONDUCTA I DISCIPLINA ............................................................. 35
Reglament de joc del Pàdel – Federació Catalana de Pàdel
4 de 38
PRÒLEG
La Federació Internacional de Pàdel (en endavant, FIP) és l’organisme rector del
joc del pàdel i entre les seves obligacions i responsabilitats s’inclou la determinació de
les Regles del pàdel.
El Comitè de les Regles del pàdel de la FIP observarà contínuament el joc i les
seves regles i recomanarà, quan ho consideri necessari, els canvis a l’Assemblea,
autoritat responsable en última instància per efectuar qualsevol canvi de les Regles del
pàdel atenent el que estableix l’article 18 dels estatuts.
Nota 1 : Excepte quan s’estipuli d’una altra manera, qualsevol referència a
jugador en aquestes Regles del pàdel inclou ambdós sexes.
Nota 2 : El present reglament entrarà en vigor en el moment de la seva
aprovació per l'Assemblea General Ordinària de la FCP, no produint efectes en
relació amb les instal·lacions construïdes amb anterioritat a l'esmentada data.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
5 de 38
LA PISTA
•  DIMENSIONS
L’àrea de joc és un rectangle de 10 metres d’ample per 20 metres de llarg
(mesures interiors) amb una tolerància de 0,5%.
Aquest rectangle està dividit per la meitat per una xarxa. A ambdós
costats, paral·leles a la xarxa i a una distància de 6,95 m, hi ha les línies de
servei. L’àrea entre la xarxa i les línies de servei està dividida per la meitat per
una línia perpendicular a aquestes línies anomenada línia central de servei, que
divideix aquesta àrea en dues zones iguals. La línia central de servei es
prolongarà 20 cm més enllà de la línia de servei. Les dues meitats del camp han
de ser completament simètriques pel que fa a superfícies i traçat de línies. Totes
les línies tenen una amplada de 5 cm.
L’altura  mínima  lliure
serà de 6 metres en tota
la superfície de la pista,
sense que hi hagi cap
element (ex.: focus) que
envaeixi aquest espai.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
6 de 38
•  XARXA
La  xarxa  té  una
longitud de 10 metres i una
altura de 0,88 metres al
centre. Als extrems s’eleva
fins a un màxim de 0,92
metres (amb una tolerància
màxima de 0,005 metres).
Està suspesa per un
cable metàl·lic de diàmetre
màxim de 0,01 metres, els
extrems del qual estan units
a dos pals laterals d’una
altura  màxima  d’1,05
metres o a l’estructura que
els subjecta i els tensa.
El dispositiu de tensió
del  cable  ha  d’estar
concebut de manera que no
es  deixi  anar
inesperadament  i  no
constitueixi un risc per als
jugadors.
Les cares exteriors dels pals de la xarxa coincideixen amb els límits laterals
de la pista (obertura, porta o
malla metàl·lica). Poden ser de
secció circular o quadrada, però
amb les arestes arrodonides.
La xarxa es remata amb
una banda superior de fons blanc
d’una amplada d’entre 5 i 6,3
cm. Un cop plegada, pel seu
interior hi passa el cable de
Reglament de joc del Pàdel – Federació Catalana de Pàdel
7 de 38
subjecció de la xarxa. Podrà tenir publicitat sempre que sigui d’un sol color.
La xarxa ha de quedar totalment estesa de manera que ocupi
completament tot l’espai entre els pals i la superfície de la pista, sense deixar cap
espai entre els extrems de la xarxa i els pals. No obstant això, no ha d'estar
tensa.
Els  fils  que  la
componen seran de fibres
sintètiques i l’ample de
malla serà suficientment
reduït per evitar que la
pilota hi passi a través.
•  TANCAMENTS
La pista estarà tancada en la seva totalitat per fons de 10 metres de
longitud interior i per laterals de 20 metres de longitud interior.
En  tots  els
tancaments  es  combinen
zones  construïdes  amb
materials que permeten un
rebot regular de la pilota i
zones de malla metàl·lica en
què el rebot és irregular de
la manera següent:
•  FONS
Amb  4  metres
d’altura total del tancament,
compost per tres metres de paret i un últim metre de malla metàl·lica. 
Reglament de joc del Pàdel – Federació Catalana de Pàdel
8 de 38
•  LATERALS
Reglamentàriament s’admeten dues variants en els tancaments laterals:
Variant 1
Composta per zones esglaonades de paret als dos extrems, de 3 metres
d’altura per 2 metres de llarg el primer pany i de 2 metres d’altura per 2 metres
de llarg el segon pany. Les zones de malla metàl·lica completen el tancament fins
a 3 metres d’altura en els 16 metres centrals i fins a 4 metres d’altura en els 2
metres dels extrems.
Variant 2
Composta per zones esglaonades de paret als dos extrems, de 3 metres
d’altura per 2 metres de llarg el primer pany i de 2 metres d’altura per 2 metres
de llarg el segon pany. Les zones de malla metàl·lica completen fins a 4 metres
l’altura en tota la longitud del tancament.
Les dimensions esmentades són des de l’interior de la pista.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
9 de 38
La malla metàl·lica es col·loca sempre alineada amb la cara interior de les
parets.
Les parets poden ser de qualsevol material transparent o opac (vidre, maó,
etc.) sempre que ofereixin la consistència adequada i un rebot de la pilota regular
i uniforme. Qualsevol material haurà de tenir un acabat superficial uniforme, dur i
llis sense cap rugositat perquè permeti el contacte, fregament o lliscament de
pilotes, mans i cossos. El color de les parets opaques ha de ser llis i no interferirà
en la visió dels jugadors o les condicions de joc.
Per a les pistes de vidre s’hauran de complir les normes per a vidre
temperat:
-  Unió Europea: UNE – EN 12150-1.
-  D’altres països: consulteu les normatives pròpies.
La malla metàl·lica haurà de ser romboïdal o quadrada, de simple torsió o
electrosoldada, sempre que la mida de la seva obertura (la mida de les seves
diagonals) no sigui inferior a 5 cm ni superior a 7,08 cm. Es recomana que el
gruix del diàmetre del fil d’acer utilitzat sigui d’entre 1,6 mm i 3 mm (s’autoritza
fins un màxim de 4 mm) i que tingui una tensió que hi permeti el rebot de la
pilota a sobre.
Si es fes servir malla electrosoldada tots els punts de soldadura han de
quedar protegits tant a l’interior de la pista com a l’exterior perquè no puguin
produir talls o rascades. Si la malla electrosoldada no està entrellaçada, el
muntatge es farà de manera quadrada, no romboïdal, i els fils d’acer paral·lels al
terra hauran de quedar a l’interior de la pista i els verticals a l’exterior.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
10 de 38
Si la malla fos de simple torsió els tensors s’hauran de col·locar a l’exterior
de la pista, també convenientment protegits. Les unions o cosit entre els rotlles
de malla no han de presentar elements punxants. 
Tant la malla electrosoldada com la de simple torsió hauran de formar una
superfície plana i vertical i mantenir-se de manera que aquestes característiques
no es perdin.
Cas 2: Si es continués amb el mateix tipus de malla per sobre dels límits
reglamentaris (vegeu variant 1 i 2) per evitar la sortida de la pilota fora de la
pista, es recomana col·locar, a partir dels 3 o 4 m segons correspongui, una placa
de color blanc que permeti diferenciar amb claredat la part vàlida de joc de la que
no ho és. La pilota que impacti a la placa es considera fora de joc.
•  TERRA
La superfície de la pista podrà ser de formigó porós, ciment, fusta,
materials sintètics, gespa artificial o qualsevol altre que permeti el bot regular de
la pilota i eviti l’entollament.
El color podrà ser verd, blau o marró terrós.
El paviment ha de ser pla, amb unes diferències de nivell interiors inferiors
a 3 mm mesurats amb un regle de 3 m (1/1000).
En paviments no drenants, els pendents d’evacuació màxima transversal
seran de l’1% i sempre partint del centre cap a l’exterior de la pista.
Cas 3: En paviments no drenants serà vàlid un pendent del 0%.
Els paviments sintètics i de gespa artificial compliran els requisits següents: 
-  Unió Europea: conforme amb l’Informe UNE 41958 IN “Paviments
esportius”.
-  D’altres països: consulteu les normatives pròpies.
REQUISITS
Absorció
d’impactes
(reducció de la
força)
RF≥20%
Gespa artificial
Reglament de joc del Pàdel – Federació Catalana de Pàdel
11 de 38
Fricció
0,4≤µ≤0,8
Gespa artificial
Bot vertical de la
pilota
≥80%
Gespa artificial
Sintètics
Ple de sorra SiO 2 ≥96%
CaO≤3%
Vores arrodonides
Granulometria: 80% del pes
∅16mm - 1,25mm
longitud visible de la fibra 2-3
mm
Gespa artificial
•  ACCESSOS
Els accessos a la pista són simètrics respecte al centre i estan situats als
laterals. Hi podrà haver 1 o 2 obertures a cada costat, amb porta o sense (vegeu
regla 16 del joc).
Les dimensions de les obertures han de ser les següents:
1)  Amb un sol accés per lateral: el buit lliure ha de tenir un mínim
d’1,05 x 2 metres i un màxim d’1,20 x 2,20 metres (vegeu figura).
2)  Amb dos accessos per lateral: cada buit lliure ha de tenir un mínim
de 0,72 x 2,00 metres i un màxim de 0,82 x 2,20 metres (vegeu
figura).
Reglament de joc del Pàdel – Federació Catalana de Pàdel
12 de 38
Nota: Les instal·lacions d’ús públic han de complir la normativa d’accessibilitat i
supressió de barreres arquitectòniques per a persones amb mobilitat reduïda.
La distància mínima entre la paret del fons i la cara més propera a
l’obertura serà de 9 metres.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
13 de 38
En cas d’haver-hi portes, les manetes han d’estar col·locades per l’exterior
de la pista sense que hi hagi elements que sobresurtin cap a l’interior.
•  ZONA DE SEGURETAT I JOC EXTERIOR
Cada lateral de la pista haurà de tenir dos obertures d’accés. No hi haurà
d’haver cap obstacle físic fora de la pista en un espai mínim de 2 metres d’ample,
4 metres de llarg a cada costat i un mínim de 2 metres d’altura (vegeu gràfic).
•  IL·LUMINACIÓ
La il·luminació artificial serà uniforme i de manera que no dificulti la visió
dels jugadors, de l’equip arbitral ni dels espectadors. Complirà la norma següent: 
- Unió Europea: UNE-EN 12193 “Il·luminació d’instal·lacions esportives”, i
comptarà amb els següents nivells mínims d’il·luminació:
Reglament de joc del Pàdel – Federació Catalana de Pàdel
14 de 38
NIVELLS MÍNIMS D’IL·LUMINACIÓ
(exterior)
Il·luminació
horitzontal
E mit (lux)
Uniformitat
E mín/E mit
Competicions internacionals i nacionals 500  0,7
Competicions  locals,  entrenament,  ús
escolar i recreatiu
200  0,5
NIVELLS MÍNIMS D’IL·LUMINACIÓ
(interior)
Il·luminació
horitzontal
E mit (lux)
Uniformitat
E mín/E mit
Competicions internacionals i nacionals 750  0,7
Competicions  locals,  entrenament,  ús
escolar i recreatiu
300  0,5
→  D’altres països: consulteu les normatives pròpies.
Les columnes d'il·luminació estaran situades fora de la pista. Si estiguessin
situades a la zona de seguretat, el joc extern no estarà permès.
L’altura mínima mesurada des del terra fins la part inferior dels projectors
ha de ser de 6 metres. 
Reglament de joc del Pàdel – Federació Catalana de Pàdel
15 de 38
Per a retransmissions de TV en color i gravació de pel·lícules es requereix
un nivell d’il·luminació vertical d’almenys 1.000 lux. No obstant això aquest valor
pot augmentar amb la distància de la càmera a l’objecte. Per a més informació
heu de consultar la norma esmentada.
•  ORIENTACIÓ
Es recomana que l’eix longitudinal del camp en instal·lacions a l’aire lliure
sigui N-S. S’admet una variació compresa entre N-NE i N-NO.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
16 de 38
LA PILOTA
La FIP aprovarà les pilotes
que  s’utilitzin  en  les  seves
competicions oficials. 
La pilota haurà de ser una
esfera  de  goma  amb  una
superfície exterior uniforme de
color blanc o groc. El diàmetre
haurà de mesurar entre 6,35 i
6,77 cm i el pes estarà entre els
56 i els 59,4 g. Haurà de tenir un
rebot comprès entre 135 i 145 cm
en deixar-la caure sobre una superfície dura des de 2,54 m.
La pilota haurà de tenir una pressió interna entre 4,6 kg i 5,2 kg per cada
2,54 cm 2 .
Quan es jugui a més de 500 m d’altitud sobre el nivell del mar es pot
utilitzar un altre tipus de pilotes, idèntiques al tipus que s’ha descrit però amb un
rebot de més de 121,92 cm i de menys de 135 cm.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
17 de 38
LA PALA
Es jugarà amb la pala
reglamentària de pàdel segons
homologació de la FIP. 
La pala està composta per
dues parts: puny i cap.
Puny: llarg màxim: 20 cm,
ample màxim: 50 mm, gruix
màxim: 50 mm.
Cap: llarg: variable. El llarg
del cap més el llarg del puny no pot excedir els 45,5 cm, ample màxim: 26 cm,
gruix màxim: 38 mm.
El llarg del total de la pala, puny més cap, no podrà excedir els 45,5 cm.
En realitzar el control de les mesures de la pala es permetrà una tolerància
en el seu gruix del 2,5%.
La superfície destinada al cop estarà perforada per un nombre no limitat de
forats cilíndrics de 9 a 13 mm de diàmetre cadascun a tota la zona central. Dins
d’aquesta mateixa superfície es podrà considerar una zona perifèrica de 4 cm
mesurats des de la vora exterior de la pala, on els forats podran tenir una altra
forma o mida sempre que no afectin l’essència del joc. 
La superfície destinada al cop, igual als seus dos costats, podrà ser plana,
llisa o rugosa.
La pala estarà lliure d’objectes adherits i d’altres dispositius que no siguin
els que s'utilitzen només i específicament per a limitar o prevenir deterioraments i
vibracions i per a distribuir el pes. Qualsevol objecte o dispositiu ha de ser
raonable en mesures i col·locació per a tals propòsits.
Haurà de tenir un cordó o una corretja no elàstica de subjecció al canell
com a protecció contra accidents. El seu ús serà obligatori. Aquest cordó haurà de
tenir una longitud màxima de 35 cm. 
La pala ha d’estar lliure de qualsevol tipus de dispositiu que pugui
comunicar, avisar o donar instruccions de qualsevol tipus al jugador, ja sigui de
manera visible o audible, durant el transcurs d’un partit.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
18 de 38
Cas 1: Durant el transcurs del joc un jugador trenca la pala
accidentalment. Pot seguir jugant un altre punt amb la pala en aquestes
condicions? 
Decisió: Sí, excepte si es trenca el cordó de seguretat o si el trencament fa
que la pala sigui un element perillós.
Cas 2: Es permet que un jugador utilitzi més d’una pala durant el joc? 
Decisió: Sí. No es permet durant el punt.
Cas 3: Es pot incorporar a la pala una pila (bateria) que afecti les
característiques de joc? 
Decisió: No. Una pila (bateria) està prohibida, ja que és una font d’energia,
com una cèl·lula solar o d’altres accessoris similars. 
Reglament de joc del Pàdel – Federació Catalana de Pàdel
19 de 38
REGLA 1. PUNTUACIÓ EN UN JOC
•  PUNTUACIÓ
Quan una parella guanya el seu primer punt es dirà 15. En guanyar el
segon punt es dirà 30. En guanyar el tercer punt es dirà 40 i amb el quart punt
guanyat es dirà joc, excepte si ambdues parelles han guanyat tres punts, amb la
qual cosa la puntuació rep el nom d’iguals. El punt següent s’anomena avantatge
a favor del guanyador, i si el torna a guanyar s’adjudica el joc. En cas de perdre’l
es tornaria a iguals. I així successivament fins que un dels participants hagi
guanyat dos punts consecutius.
La parella que guanyi 6 jocs primer, sempre amb un mínim de 2
d’avantatge, s’anotarà el set. En cas d’empat a 5 jocs se n’hauran de jugar dos
més fins que es guanyi per 7-5, però si es produeix un empat a 6 jocs s’aplicarà
el joc decisiu o desempat.
Els partits es jugaran al millor de tres sets (una parella necessita guanyar
dos sets per guanyar el partit).
En cas d’empat a un set, i sempre que s’hagi establert prèviament, es
podrà jugar un tercer set sense aplicar el joc decisiu o desempat, és a dir, si es
produeix empat a sis jocs guanyarà el que n’aconsegueixi dos de diferència.
•  JOC DECISIU O DESEMPAT 
Durant el joc decisiu es diuen els punts: 0, 1, 2, 3, etc.
Guanya el joc decisiu el primer que arribi a 7 punts, sempre que ho faci
amb 2 d’avantatge, per tant la parella guanya el joc i el set. Si és necessari, el joc
decisiu continuarà fins que s’aconsegueixi aquest marge.
El joc decisiu s’iniciarà amb el servei del jugador que correspongui segons
l’ordre seguit al set i el farà des del costat dret de la seva pista. Es jugarà un sol
punt. A continuació, i respectant sempre l’ordre de servei esmentat anteriorment,
es jugaran dos punts començant pel costat esquerre, i així successivament.
El guanyador del joc decisiu s’anotarà el set per 7-6. 
Al set següent començarà el servei el jugador de la parella que no hagi
començat el servei al joc decisiu.
Cas 1: Qui comença el servei del joc decisiu?
Decisió: El jugador que ha començat el servei al principi del set, excepte si
passa el que es recull a la regla 6, apartat j).
Reglament de joc del Pàdel – Federació Catalana de Pàdel
20 de 38
•  MÈTODES DE PUNTUACIÓ ALTERNATIUS 
→ PUNTUACIÓ EN UN JOC
Mètode de puntuació sense avantatge (punt d’or)
Es pot utilitzar aquest mètode de puntuació alternatiu. 
Un joc es puntua de la manera següent amb la puntuació del jugador que
fa el servei dit en primer lloc: 
Cap punt: res 
Primer punt: 15 
Segon punt: 30
Tercer punt: 40 
Quart punt: joc 
Si ambdós jugadors o parelles han guanyat tres punts cadascú es dirà la
puntuació d’iguals i es jugarà un punt decisiu anomenat punt d’or. La parella que
no realitza el servei triarà si vol rebre el servei del costat dret o l’esquerra de la
pista. Els components de la parella que no realitza el servei no poden canviar de
posició per a rebre aquest punt decisiu. La parella que guanyi el punt decisiu
guanyarà el joc. 
En mixtos, el jugador que sigui del mateix sexe que la persona que realitza
el servei tornarà el punt decisiu, però els jugadors de la parella que rep el servei
no poden canviar de posicions per a rebre el punt decisiu. 
→ PUNTUACIÓ EN UN SET
SETS A QUATRE O MINI SET:
La parella que guanyi quatre jocs guanyarà el set, sempre que tingui dos
jocs d’avantatge com a mínim respecte als contraris. Si ambdues parts assoleixen
una puntuació de quatre jocs iguals es jugarà un joc decisiu de desempat. 
JOC DECISIU DEL PARTIT (7 PUNTS): 
Quan la puntuació d’un partit arribi a un set iguals, es jugarà un joc decisiu
per decidir el guanyador del partit. Aquest joc decisiu substitueix l’últim set. 
Reglament de joc del Pàdel – Federació Catalana de Pàdel
21 de 38
La parella que obtingui set punts guanyarà el joc decisiu i el partit, sempre
que ho faci amb un marge mínim de 2 punts. 
JOC DECISIU DEL PARTIT (10 PUNTS): 
Quan la puntuació d’un partit arribi a un set iguals, es jugarà un joc decisiu
per decidir el guanyador del partit. Aquest joc decisiu substitueix l’últim set. 
La parella que obtingui deu punts guanyarà el joc decisiu i el partit, sempre
que ho faci amb un marge mínim de 2 punts. 
Nota 1: Quan s’utilitzi el joc decisiu per substituir el set final:
•  Continuarà l’ordre de servei original, encara que es podrà canviar l’ordre
del que fa el servei i la posició del que el rep dins de la parella.
Nota 2: No es canviaran les pilotes a l’inici del joc decisiu del partit, encara que
correspongués fer-ho.
REGLA 2. ELS TEMPS
El jutge àrbitre considerarà perdut el partit (incompareixença)
a qualsevol parella els jugadors de la qual no estiguin a la pista
preparats per a jugar 10 minuts després de l’hora prevista d’inici,
excepte aquells casos que el jutge àrbitre consideri que són
conseqüència de força major.
Cas 1: En el cas de la programació d’horaris per torns es considerarà com a
hora prevista per a l’inici del partit 5 minuts després de la finalització de
l’anterior.
El piloteig de cortesia amb els contraris serà de 5 minuts i obligatori.
Com a norma el joc hauria de ser continu des del moment en què s’iniciï el
partit (quan s’efectua el primer servei) fins que s’acabi. Per tant el partit mai se
suspendrà o s’endarrerirà amb el propòsit de permetre que un jugador recuperi
forces o rebi instruccions o consells.
Entre punts el temps màxim permès és de vint (20) segons. 
Reglament de joc del Pàdel – Federació Catalana de Pàdel
22 de 38
Quan els jugadors canviïn de costat al final d’un joc es concedirà un màxim
de noranta (90) segons. Després del primer joc de cada set i durant un joc
decisiu el joc serà continu i els jugadors canviaran de costat sense cap descans.
Al final de cada set es concedirà un descans de cent vint (120) segons com
a màxim.
Els temps anteriors comencen en el moment en què acaba un punt i
finalitzen quan s’inicia el servei del punt següent.
Si per circumstàncies alienes a la voluntat del jugador la roba, el calçat o
l’equip necessari es trenca o s’ha de substituir, es concedirà un temps addicional
raonable al jugador perquè resolgui el problema.
Si s’anuncia abans del partit, es podrà permetre un nombre limitat de
descansos per anar al lavabo o canviar-se de roba.
Es concediran 20 segons per als canvis de camp en el joc decisiu.
Si un partit s’ha de suspendre per raons alienes als jugadors (pluja, falta
de llum, accident, etc.), quan es reiniciï el partit les parelles tindran dret a un
piloteig de cortesia d’acord als punts següents:
Fins a 5 minuts de suspensió, no hi ha piloteig.
b) De 6 a 20 minuts de suspensió, tres minuts de piloteig.
c) Més de 21 minuts de suspensió, cinc minuts de piloteig.
El partit haurà de començar exactament on i com va finalitzar quan es va
suspendre, és a dir, amb el mateix joc i puntuació, el mateix jugador al servei, la
mateixa ubicació als camps i la mateixa relació en l’ordre de serveis i recepcions.
Si la suspensió és per falta de llum, s’haurà de parar el partit quan la suma
de jocs sigui parell en el set que s’estigui jugant perquè quan es reiniciï ambdues
parelles quedin al mateix costat que quan es va produir la suspensió.
En cas que un jugador es lesioni o estigui afectat per una condició mèdica
tractable se li donaran 3 minuts perquè l’atenguin o es recuperi. Pot tornar a
rebre atenció o un moment de recuperació en els següents dos canvis de costat
però dins del temps reglamentari. Si la suspensió es realitza durant un canvi de
costat el jugador podrà rebre assistència mèdica dins d’aquesta suspensió però
serà de 3 minuts. Pot tornar a rebre’n en els següents dos canvis de costat però
dins del temps reglamentari per al canvi.
Aquesta atenció només es podrà prestar una vegada per cada jugador i no
es podrà cedir aquest dret al company.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
23 de 38
En cas d’un accident que no sigui conseqüència directa del joc i que afecti
algun dels jugadors el jutge àrbitre, a criteri seu, podrà concedir un temps per
atendre’l que no excedeixi en cap cas els 15 minuts.
Si un jugador té alguna ferida sagnant no podrà continuar el joc.
Cas 1: Compta com a torn d’atenció a un jugador l’atenció en cas
d’accident que no sigui conseqüència directa del joc?
Decisió: No, no compta.
Cas 2: Quin temps de descans o interrupció hi pot haver entre el primer i el
segon servei?
Decisió: Cap, el joc ha de ser continu.
REGLA 3. POSICIÓ DELS JUGADORS
Cada parella de jugadors es col·locarà a cada camp, situats a l’un i l’altre
costat de la xarxa. El jugador que posi la pilota en joc és el que fa el servei i el
que la torna és el que el rep.
El jugador que rep el servei es pot col·locar a qualsevol lloc del seu camp,
igual que el seu company i el company del jugador que fa el servei.
Cas 1: Hi pot haver algun jugador fora del terreny de joc mentre s’efectua
el servei? 
Decisió: No, no hi pot ser.
Cas 2: Es permet que un component de la parella jugui sol contra els seus
contraris? 
Decisió: Sí, si el company es queda al camp i fa el servei i el rep quan li
correspongui.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
24 de 38
REGLA 4. ELECCIÓ DE CAMP I DEL SERVEI
L’elecció de camp i el dret a ser qui fa el servei o qui el rep al primer joc es
decidirà per sorteig. La parella que guanyi el sorteig podrà triar entre:
a) Fer el servei o rebre’l, cas en el qual l’altra parella triarà el camp
b) El camp, cas en el qual l’altra parella triarà el dret a fer el servei o
rebre’l
c) Sol·licitar als contraris que triïn primer.
Una vegada decidit l’ordre de servei i camp, ambdues parelles comunicaran
a l’àrbitre qui serà el primer jugador a fer el servei i el primer a rebre’l.
Cas 1: Ambdues parelles tenen dret a una nova elecció si s’atura
l’escalfament i els jugadors abandonen la pista? 
Decisió: Sí. El resultat del sorteig original es manté, però ambdues parelles
poden fer noves eleccions. 
REGLA 5. CANVIS DE CAMP
Les parelles canviaran de camp quan la suma dels jocs de cada set sigui
nombre imparell. 
Al joc decisiu els jugadors canviaran de camp cada 6 punts. 
Si es comet un error i no es produeix el canvi de camp, els jugadors
corregiran aquesta situació tan aviat com es descobreixi l’error i seguiran l’ordre
correcte. Tots els punts comptats abans que s’hagi vist l’error són vàlids. En cas
que en percebre l’error ja s’hagués realitzat un primer servei en falta, només es
tindrà dret a un servei més.
Cas 1: Al final d’un set tenim un descans de 120 segons. Per iniciar el
següent set hem de canviar de camp?
Decisió: Si la suma del nombre de jocs del set finalitzat és imparell, sí. En
cas que sigui parell, no.
Cas 2: En finalitzar el primer joc de cada set hem de canviar de camp.
Tenim dret a descans?
Reglament de joc del Pàdel – Federació Catalana de Pàdel
25 de 38
Decisió: No, no hi ha descans.
REGLA 6. EL SERVEI
Tots els punts s’inicien amb el servei. Si el primer servei és fallit es
disposarà d’una segona oportunitat. El servei s’ha de fer de la manera següent:
a)  En el moment de l’inici del servei, qui l’executi haurà d’estar amb
ambdós peus darrere de la línia de servei, entre la prolongació
imaginària de la línia central de servei i la paret lateral (requadre de
servei), i hauran de ser en aquest espai fins que la pilota es colpegi. 
b)  El jugador que fa el servei botarà la pilota per realitzar el servei dins
del requadre de servei en què es trobi. 
c)  El jugador que fa el servei queda obligat a no tocar la línia de servei
ni la línia imaginària continuació de la línia central amb els peus. 
d) En el moment de colpejar la pilota en el servei, haurà d’estar a
l’altura o per sota de la cintura, i el jugador ha de tenir almenys un
peu en contacte amb el terra.
e) La pilota colpejada haurà de passar per sobre de la xarxa cap al
requadre de recepció de servei situat a l’altre camp, en línia
diagonal, i ha de fer el primer bot en aquest requadre, que inclou les
línies que el delimiten. En primer lloc realitzarà el servei sobre el
requadre de recepció de servei que estigui situat a la seva esquerra
i, acabat el punt, el següent servei es farà sobre el de la seva dreta, i
a partir d’aquest moment es procedirà alternativament.
f)  En fer el servei el jugador no podrà caminar, córrer o saltar.
S’estimarà que el jugador no ha canviat de posició encara que
realitzi petits moviments amb els peus que no afectin la posició
adoptada inicialment.
g) En el moment d’impactar la pilota o en un intent fallit amb intenció
de colpejar-la, el servei es considerarà efectuat.
h)  Si un servei s’executa sense advertir-lo des del requadre de servei
no corresponent, l’error de posició haurà de ser corregit tan aviat
com es descobreixi. Tots els punts obtinguts en aquesta situació són
vàlids, però si hi ha hagut una sola falta de servei abans de
percebre’s s’ha de tenir en compte.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
26 de 38
i)  La parella que tingui el dret de fer el servei en el primer joc de cada
set decidirà quin dels seus components començarà a fer el servei. Al
seu torn, en acabar el primer joc la parella que ha rebut el servei
passarà a fer-lo triant el jugador que ho farà, i així alternativament
durant tots els jocs d’un set. Un cop establert l’ordre de servei, no es
pot alterar fins l’inici del següent set.
j)  Si un jugador fa el servei fora del seu torn, el que hagués hagut de
fer-lo ho ha de fer quan es descobreix l’error. Tots els punts
comptats abans de veure l’error són vàlids, però si hi ha hagut una
sola falta de servei abans de percebre’s no s’ha de tenir en compte.
En cas que abans de veure’s l’error s’hagi acabat el joc, l’ordre de
servei es mantindrà com ha estat alterat fins la finalització del set.
k)  El jugador no farà el servei fins que el jugador que el rep no estigui
preparat. No obstant això, el jugador que rep el servei s’adaptarà al
ritme raonable del jugador que el fa i estarà llest per a rebre’l quan
la persona que el fa ho estigui per a efectuar-lo. 
l)  No es podrà al·legar que no s’estava llest per a rebre el servei si s’ha
intentat tornar-lo. Si es demostra que el jugador que rep el servei no
estava preparat, tampoc es podrà dir falta.
Cas 1: A quina altura màxima podrà colpejar la pilota un jugador que
flexioni les cames en el moment del servei?
Decisió: A la que en aquell moment tingui situada la cintura o per sota. 
REGLA 7. FALTA DE SERVEI
El servei serà falta si:
a)  El jugador que el fa infringeix el que disposa la regla 6. El servei.
Punts de l’a) a l’f).
b) El jugador que el fa falla la pilota del tot en intentar colpejar-la.
c) La pilota bota fora del requadre de recepció de servei, que inclou les
línies que el delimiten (les línies són bones).
d) La pilota colpeja el jugador que fa el servei, el seu company o
qualsevol objecte que portin.
e) La pilota bota en el requadre de recepció de servei contrari i toca la
malla metàl·lica que delimita el camp abans del segon bot.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
27 de 38
f)  La pilota bota en el requadre de recepció de servei contrari i surt
directament per la porta cap a una pista sense zona de seguretat i
joc exterior. 
Cas 1: En un servei la pilota, abans de botar per primer cop al terra, ha
tocat alguna de les parets del meu camp, la malla metàl·lica o un focus, però ha
passat la xarxa i bota en el requadre de recepció de servei contrari. El servei és
bo?
Decisió: No, és falta.
Cas 2: Faig un servei en globus i la pilota, després de botar en el requadre
de recepció de servei contrari, surt directament de la pista per sobre de la malla.
És falta?
Decisió: No.
REGLA 8. LA RESTADA O TORNADA DE SERVEI
a) El jugador que torna el servei haurà d’esperar que la pilota boti dins del seu
requadre de recepció de servei i colpejar-la abans que boti al terra per
segona vegada.
b) La parella que rep el servei en el primer joc de cada set decidirà quin dels
seus dos integrants començarà a rebre el servei, i aquest jugador
continuarà rebent el primer servei de cada joc fins la finalització del set. 
Cada jugador rebrà el servei alternativament durant el joc, i una vegada
s’hagi decidit l’ordre no es podrà alterar durant aquell set o joc decisiu però
sí que es podrà alterar al principi d’un nou set.
Si durant un joc o joc decisiu la parella que torna el servei altera l’ordre de
tornada, s’haurà de continuar d’aquesta manera fins al final del joc o joc
decisiu en què s’ha produït l’equivocació. En els jocs següents d’aquest set
la parella adoptarà la col·locació escollida en iniciar-lo. 
c) Si la pilota colpeja el jugador que torna el servei o el seu company o la
toquen amb la pala abans que hagi botat, es considerarà punt del jugador
que fa el servei.
Cas 1: En el cas de les antigues pistes, algunes de les quals tenen pics
verticals a la unió de la paret i la malla, és a dir, la paret i la malla no són
Reglament de joc del Pàdel – Federació Catalana de Pàdel
28 de 38
clarament en el mateix pla, quan la pilota colpegi al "cantó" o "pic", el servei
només es considerarà vàlid si, després de botar al terra i colpejar l’esmentat
"pic", surt obliquament en direcció al que torna el servei, i es posa com a límit el
fet de superar la línia imaginària que va des del pic fins l’altre pic (vegeu gràfic).
Cas 2: Si la pilota botés dues vegades seguides dins del requadre de
recepció de servei del jugador que el torna, encara que entre els dos bots toqués
la paret, el servei es considerarà punt per al jugador que l’ha efectuat.
Cas 3: El jugador que rep no pot fer una volea en cap cas, fins i tot encara
que es trobi fora del requadre de recepció de servei. 
REGLA 9. REPETICIÓ DEL SERVEI O LET DE SERVEI
El servei es repetirà (let) si:
a) La pilota toca la xarxa o els pals que la subjecten (si són dins l’àrea
de joc) i després cau a l’àrea de servei del jugador que rep la pilota,
sempre que no toqui la malla metàl·lica abans del segon bot.
b) La pilota, després de tocar la xarxa o els pals (si són dins l’àrea de
joc), colpeja qualsevol oponent o article que portin.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
29 de 38
c) Es realitza quan el jugador que rep el servei no està preparat (regla
6, apartat k).
Si el let es produís en el primer servei s’hauria de repetir. Si es produís en
el segon servei el jugador que fa el servei tindrà dret només a un servei més.
Cas 1: Poso la pilota en joc, toca la xarxa i el primer bot el fa en el
requadre de recepció que correspon, i el segon surt per la porta fora de pista. Es
considera let o falta?
Decisió: Serà let si es pot jugar la pilota fora de la pista. En cas contrari, és
falta.
REGLA 10. REPETICIÓ D'UN PUNT O LET
Un punt en disputa és let si:
a) La pilota es trenca durant el joc.
b) Qualsevol element estrany al partit que s’està jugant envaeix l’espai
de la pista.
c) En general, qualsevol interrupció del joc deguda a situacions
imprevistes i alienes als jugadors.
El jugador que durant el joc consideri que s’ha produït una de les situacions
que el reglament qualifica com a let haurà de fer-ho saber immediatament al
jutge àrbitre i no deixar que el punt en disputa continuï. Si ho permet perdrà el
dret a fer-ho posteriorment.
Efectuada la petició de let correspon a l’àrbitre decidir si és procedent. Si
no ho fos el que fa la petició perdria el punt.
Cas 1: Si he comès una falta en el primer servei i he iniciat el punt amb el
segon servei, què passa si durant aquell punt es diu let?
Decisió: Es repeteix el punt amb dret a dos serveis.
REGLA 11. INTERFERÈNCIA
Reglament de joc del Pàdel – Federació Catalana de Pàdel
30 de 38
Es considera interferència quan un jugador comet una acció, ja sigui
deliberada o involuntària, que molesta el seu contrincant per a l’execució d’un
cop. L’àrbitre, en el primer cas, concedirà el punt al contrincant, i en el segon
ordenarà la repetició del punt, let, quan el jugador que hagi molestat el
contrincant l’hagi guanyat.
REGLA 12. PILOTA EN JOC
Cada parella colpejarà la pilota alternativament.
La pilota estarà en joc des del moment en què es realitzi un servei vàlid
fins que es digui let o el punt quedi decidit.
Si la pilota en joc colpeja qualsevol dels elements de la pista després
d’haver botat sobre el terra del camp que correspongui, continuarà en joc i
s’haurà de tornar abans que boti al terra per segona vegada.
Es consideren elements de la pista les cares internes de les parets, la malla
metàl·lica que tanca la pista, el terra, la xarxa i els pals de la xarxa. El bastidor
que emmarca les malles electrosoldades es considera a tots els efectes com a
malla metàl·lica.
REGLA 13. PUNT PERDUT
Una parella perdrà el punt en les ocasions següents:
a)  Si un jugador de la parella, la pala o qualsevol objecte que portin
toca alguna part de la xarxa, inclosos els pals, o el terreny de la part
del camp contrari, inclosa la malla metàl·lica, mentre la pilota estigui
en joc. 
1.  Joc autoritzat fora de la pista. A partir dels 0,92 metres i
només en cas que estigui autoritzat el joc fora de la pista, el
pal vertical mitger entre portes es considera zona neutral per
als quatre jugadors, que el poden tocar o agafar-s’hi.
b) Si la pilota bota per segona vegada al seu camp abans de ser
tornada.
c) Quan la pilota, després de botar en el camp propi correctament, surt
per sobre dels límits superiors (perímetre exterior) de la pista (fons i
lateral) o per la porta.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
31 de 38
1.  Joc autoritzat fora de la pista. Quan la pilota, després de botar
en el camp propi correctament, surt per sobre de la paret del
fons de la pista. Si surt per sobre de la paret lateral o per la
porta es perd el punt quan bota al terra per segona vegada o
toca un element extern aliè a la pista.
d) Si torna la pilota abans que hagi superat la xarxa.
e) Si un jugador torna la pilota, directament o colpejant primer les
parets del seu camp de manera que, sense botar prèviament, colpeja
qualsevol de les parets del camp contrari, la malla metàl·lica o algun
objecte aliè a la pista que no estigui situat sobre el terra del camp
contrari.
f) Si un jugador torna la pilota, directament o colpejant primer les
parets del seu camp de manera que toca la xarxa o els pals i,
després, directament a qualsevol de les parets del camp contrari, la
malla metàl·lica o algun objecte aliè a la pista que no estigui situat
sobre el terra del camp contrari.
g) Si un jugador colpeja dues vegades seguides la pilota (doble toc).
h) Si després de colpejar la pilota un dels membres de la parella la
pilota toca el jugador, el company o qualsevol objecte que portin.
i) Si la pilota toca qualsevol dels components de la parella o el seu
equipament excepte la pala, després d’haver estat colpejada per un
dels jugadors contraris.
j) Si un jugador colpeja la pilota i la pilota toca alguna de les malles
metàl·liques o terreny del seu propi camp o algun objecte aliè a la
pista que estigui situat sobre el terra del camp propi.
k) Si toca la pilota llançant-hi la pala.
l) Si salta per sobre de la xarxa mentre el punt està en joc.
m)  En tornar la pilota només la podrà colpejar un jugador. Si ambdós
jugadors de la parella, ja sigui simultàniament o consecutivament,
colpegen la pilota perdran el punt. 
Nota: No es considera doble toc quan dos jugadors intenten colpejar la
pilota simultàniament però només un la colpeja i l’altre colpeja la pala
del seu company.
n) Si el jugador que colpeja la pilota dins la pista ho fa amb un o els
dos peus fora del terreny de joc, excepte si està autoritzat el joc fora
de pista.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
32 de 38
o) El jugador comet falta en el seu segon servei.
Cas 1: Què passa si la pilota, després de botar al meu camp correctament,
no surt de la pista perquè colpeja la xarxa suplementària que es posa en algunes
ocasions per sobre de la malla reglamentària?
Decisió: Has perdut el punt.
REGLA 14. TORNADA CORRECTA
La tornada serà correcta:
a) Si, després de colpejada, qualsevol dels jugadors de la parella
contrària fa una volea a la pilota o la pilota els toca el cos, alguna
part de la roba o la pala.
b) Si la pilota, després de colpejada, bota directament al camp contrari
o impacta primer en una de les parets del camp propi i a continuació
bota directament al camp contrari.
c) Si la pilota bota al camp contrari i després toca la malla metàl·lica o
alguna de les parets.
d) Si, com a conseqüència de la direcció i la força del cop, la pilota bota
al camp contrari i surt dels límits de la pista o colpeja el sostre, els
focus d’il·luminació o qualsevol objecte aliè als elements de la pista.
e) Si la pilota toca la xarxa o els pals i després bota al camp contrari.
f) Si la pilota en joc colpeja algun objecte situat al terra del camp
contrari i que sigui aliè al mateix joc (per exemple, una altra pilota).
g) Si la pilota, després de botar en camp propi, retorna al camp que
l’ha llançada i es colpeja al camp contrari, sempre que el jugador,
alguna part de la roba o la pala no hagi tocat la xarxa, els pals o el
camp dels contraris i la pilota compleixi el que s’indica als punts a) i
f) anteriors.
h) Si s’acompanya o s’empeny la pilota la tornada es considerarà
correcta sempre que el jugador no l’hagi colpejat dues vegades,
l’impacte  s’efectuï  durant  un  mateix  moviment  i  no  variï
substancialment la sortida natural de la pilota.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
33 de 38
i)  Si la pilota tornada bota en camp contrari a l’angle (cantó) format
per una de les parets i el terra. (La bola familiarment anomenada ou
és bona).
j)  Joc autoritzat fora de la pista. Si la pilota es colpeja des de fora de la
pista la tornada serà vàlida si es compleix el que s’indica als punts
anteriors d’aquesta regla.
Cas 1: Segons el punt f), si la pilota bota sobre un objecte que estigui
sobre el terra del camp contrari la tornada és correcta. Però, he guanyat el punt?
Decisió: No, el joc continua.
REGLA 15. PUNT GUANYAT
a) Si la pilota, després de botar al camp contrari, surt de la pista per
algun buit o desperfecte de la xarxa metàl·lica o bé s’hi queda
enganxada.
b) Si la pilota, després de botar al camp contrari, es queda immòbil a la
superfície horitzontal plana d’un mur.
REGLA 16. JOC AUTORITZAT FORA DE LA PISTA
Els jugadors estan autoritzats a sortir de la pista i, des de fora, colpejar la
pilota sempre que la pista compleixi les condicions establertes als apartats de la
pista i zona de seguretat i joc exterior.
REGLA 17. SUBSTITUCIÓ DE PILOTES
Els organitzadors d’una competició han d’anunciar amb antelació el
següent:
a) La marca i el model de pilotes que s’utilitzaran
Reglament de joc del Pàdel – Federació Catalana de Pàdel
34 de 38
b) El nombre de pilotes que s’utilitzarà en el joc (2 o 3)
c) El canvi de pilotes estipulat, si n’hi hagués
Els canvis de pilotes, si n’hi hagués, es poden fer en alguna de les
alternatives següents per a cada partit:
1.  Després d’un nombre determinat imparell de jocs. El piloteig de
cortesia compta com a dos jocs i el joc decisiu com a un per al canvi
de pilotes. 
No es farà un canvi de pilotes al principi d’un joc decisiu. En aquest
cas el canvi de pilotes s’endarrerirà fins a l’inici del segon joc del set
següent.
2. Al principi d’un set.
En els casos en què les pilotes s’hagin de canviar després d’un nombre
determinat de jocs i no ho siguin en la seqüència correcta, es corregirà l’error
quan hagi de tornar a fer el servei la parella que l’hauria d’haver fet amb les
pilotes noves abans de produir-se l’error. Després, les pilotes es canviaran de
manera que el nombre de jocs entre els canvis de pilota sigui el previst
originàriament.
Quan una pilota es perdi, es trenqui o per qualsevol altra circumstància es
deteriori suficientment per a diferenciar-se de les altres l’àrbitre supervisarà que
la que es posi com a substitució estigui en les mateixes condicions que les pilotes
que estan en joc. Si no es així es canviarà el joc complet de pilotes.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
35 de 38
NORMES D’ETIQUETA I CONDUCTA
•  PUNTUALITAT
Els partits se succeiran sense demora en els horaris anunciats de joc.
L’horari dels partits s’haurà de publicar amb el temps suficient i és obligació del
jugador informar-se’n. L’ordre de joc no es podrà canviar sense l’autorització del
jutge àrbitre del torneig. 
•  INDUMENTÀRIA
El jugador s’haurà de presentar a jugar amb roba i calçat esportiu
adequats. No es permeten samarretes de tirants ni vestits de bany. En cas de no
complir-ho se l’advertirà de la falta perquè l’esmeni. Si no ho fa serà
desqualificat.
En les competicions per equips es recomana que els jugadors portin la
mateixa vestimenta, encara que no és obligatori.
Els jugadors poden utilitzar el calçat, la vestimenta i les pales que vulguin
sempre que siguin reglamentàries.
En els tornejos internacionals l’equip arbitral haurà de portar una
indumentària que en permeti la identificació.
•  IDENTITAT
Els participants hauran d’acreditar, quan ho sol·liciti el jutge àrbitre, la seva
identitat, nacionalitat, edat i en general qualsevol altra circumstància directament
relacionada amb la competició mitjançant la presentació dels documents
oportuns.
CONDUCTA I DISCIPLINA
Qualsevol jugador s’haurà de comportar de manera cortesa i educada
durant tot el temps que sigui en l’àmbit de qualsevol competició, encara que no hi
participi, i respectar qualsevol persona que s’hi trobi.
Els tècnics, igual que els jugadors, s’hauran de comportar adequadament
tenint en compte que les sancions que els àrbitres els puguin aplicar durant el
partit s’acumularan a les que puguin rebre els jugadors.
Reglament de joc del Pàdel – Federació Catalana de Pàdel
36 de 38
•  ÀREA DE JOC
El jugador o jugadors no podran deixar l’àrea de joc durant un partit, inclòs
el piloteig, sense l’autorització de l’àrbitre. L’àrea de joc és la pista i els espais
contigus que la delimiten.
•  CONSELLS I INSTRUCCIONS
Cada parella de jugadors podrà rebre consells i instruccions durant un
partit d’un tècnic degudament acreditat, tant en les competicions per parelles
com en les que es realitzen per equips i sempre que es produeixin en els temps
de descans.
•  ENTREGA DE PREMIS
Els jugadors o equips que disputin la final d’un torneig hauran de participar
a l’entrega de premis que es realitzarà quan finalitzi la competició, excepte si no
ho poden fer per lesió o indisposició comprovades o impossibilitat raonable.
•  JOC CONTINU I/O DEMORA EN EL JOC
Un cop iniciat el partit, el joc ha de ser continu i cap jugador el podrà
demorar sense causa raonable més enllà dels temps permesos a la regla 2 del
Reglament del joc. 
•  OBSCENITATS AUDIBLES I VISIBLES
L’obscenitat audible es defineix com l’ús de paraules conegudes i enteses
comunament com de mala educació o ofensives i el fet de ser dites clarament i
amb intensitat suficient perquè el jutge àrbitre, els espectadors i els
organitzadors del torneig les sentin.
L’obscenitat visible és la realització de signes o gestos amb les mans, pala
o pilotes que tinguin un significat obscè comunament o ofenguin les persones
raonables.
•  ABÚS DE PILOTA
En cap moment els jugadors no podran llançar una pilota fora de la pista
violentament en qualsevol direcció o passar-la agressivament a l’altre costat de la
xarxa mentre no estigui en joc.
•  ABÚS DE LA PALA O L’EQUIP
Reglament de joc del Pàdel – Federació Catalana de Pàdel
37 de 38
En  cap  moment  els  jugadors  no  podran  llançar  ni  colpejar
intencionadament i de manera violenta amb la pala o de qualsevol altra manera el
terra, la xarxa, la cadira de l’àrbitre, les parets, la malla metàl·lica o qualsevol
altre element de les instal·lacions.
•  ABÚS VERBAL I ABÚS FÍSIC O AGRESSIÓ
Els comportaments, les actituds i els gestos agressius i antiesportius dels
jugadors que revesteixin una gravetat especial quan es dirigeixin al jutge àrbitre,
l’àrbitre, els oponents, el company, els espectadors o qualsevol persona
relacionada amb el torneig. Es jutjarà com a abús verbal l’insult, així com
qualsevol expressió oral que, sense que sigui considerada com a insult, tingui
intrínsec el menyspreu o jocositat notòria.
•  MILLORS ESFORÇOS
Tots els jugadors hauran de realitzar els seus millors esforços per guanyar
el partit en què participi.
•  CONDUCTA ANTIESPORTIVA
En tot moment els jugadors s’han de comportar d’una manera
esportivament correcta evitant qualsevol acció que vagi en contra de l’esperit
esportiu, de la competició o, en general, del respecte a les normes establertes o
al joc net.
•  PENALITZACIONS/TAULA DE PENALITZACIONS
En el transcurs del partit el jutge àrbitre sancionarà la infracció de
qualsevol dels aspectes esmentats d’acord amb la taula de penalitzacions que
s’exposa a continuació. Amb independència d’això el Comitè de Competició podrà
imposar d’altres possibles sancions pel mateix fet, resultat de l’aplicació del
Reglament de disciplina esportiva. 
Taula de penalitzacions:
Primera infracció: Advertència
Segona infracció: Advertència amb pèrdua de punt
Tercera infracció: Advertència amb desqualificació
Les infraccions dels dos components de la parella i fins i tot del seu tècnic
acreditat són acumulables.
•  DESQUALIFICACIÓ DIRECTA
Reglament de joc del Pàdel – Federació Catalana de Pàdel
38 de 38
En cas d’infracció molt greu (agressió física o verbal molt greu) el jutge
àrbitre podrà determinar la desqualificació immediata del jugador o tècnic que ha
comès la falta. Si la desqualificació recau sobre un jugador que estigui jugant un
partit, el jugador desqualificat perd el partit i ha d’abandonar la competició. Si
recau sobre un tècnic, capità o jugador acreditats o inscrits a la competició que
s’estigui realitzant, queden desqualificats i l’han d’abandonar. 
Barcelona, 30 de juny 2009


	</p>


	<p>
	Lo primero es saber que la puntuación va de 1.0 a 7.0

Nivel 1.0 : Nos iniciamos en el juego somos totalmente novatos…
Nivel 1.5 : Aun tenemos muy poca experiencia y nuestro nivel se limita a intentar mantener la bola en juego.
Nivel 2.0 : En el golpe de derecha el gesto es incompleto y falta mejorar la dirección de pelota, en esta fase tratamos de evitar el revés. En cuanto al saque solemos cometer dobles faltas habitualmente, evitamos subir a la red ya que nos sentimos más seguros en el fondo de pista y aún no conseguimos devolver la pelota tras el rebote en la pared.
Nivel 2.5 : En esta fase la velocidad de pelota ha mejorado y nuestra derecha va siendo aceptable, seguimos evitando el revés, aunque ahora vamos intentando ejecutarlo más a menudo. Ya apenas cometemos dobles faltas y empezamos a restar saques lentos del contrario; sigue incomodándonos la red pero subimos algo más aunque voleamos de derecha y revés con la misma cara de la pala. En cuanto a la pared vamos cogiendo algunos rebotes y comenzamos a intentar nuevos golpes como globos y remates. En definitiva vamos pudiendo pelotear y comienza a divertirnos el juego.
Nivel 3.0 : Aquí vamos teniendo buena consistencia y dominio de la derecha realizando golpes planos y cortados, en cuanto al revés ha mejorado y ya no lo evitamos aunque no tengamos control total de dicho golpe. El saque y el resto van tomando forma y ya apenas cometemos dobles faltas; restamos con asiduidad el saque del contrario, las voleas son aceptables sobre todo la de derecha siendo más errática la de revés, afianzamos los rebotes de pared y nuestros globos remates y demás golpes especiales empiezan a ser consistentes.
Nivel 3.5 : Este nivel es prácticamente similar al anterior solamente destacaremos que se empiezan a dominar la dirección en los diferentes golpes y la velocidad de bola en el juego que somos capaces de aguantar es bastante mayor que en el nivel anterior. Además nuestro estilo de juego se va definiendo y generalmente estamos bien posicionados conforme al compañero.
Nivel 4.0 : A partir de aquí la cosa cambia, hablamos de jugadores experimentados que son fiables en la mayoría de los denominados golpes básicos del juego (derecha, revés, ambas voleas, saques, resto y globos) y que están empezando a desarrollar golpes como la bajada de pared por ambos lados y la bandeja. El juego aéreo va siendo cada vez menos problema para este tipo de jugadores ya que es fiable en remates y los direcciona dando potencia correctamente.  En esta fase suele ser habitual la pérdida de puntos por falta de paciencia y por mala lectura de los rebotes de pared que nos entran por nuestro revés. La velocidad de pelota sigue aumentando paulatinamente….
Nivel 4.5 : En este nivel enumeraremos las cosas que este jugador ya es capaz de hacer en cada uno de los golpes y facetas del juego que es capaz de dominar:
Derecha: Muy fiable, usa velocidad, control y variedad de golpes con profundidad.
Revés: Puede controlar dirección y profundidad pero sufre defendiendo golpes difíciles.
Saque y resto: Saca con colocación y control, con pocas doble faltas, usa potencia y bolas cortadas, restos agresivos y con control.
Voleas: Se posiciona bien de pies, controla peloteos en las voleas, tiene potencia, control y profundidad en las voleas de derechas, comete errores cuando juega con potencia.
Rebotes: Buena bajada de pared de derecha, de revés consigue profundidad y colocación
Otros golpes: Consigue remates definitivos, llega a sacar la bola por 4 en algunas ocasiones, consigue en ocasiones dejadas de volea.
Estilo de juego: Golpeo con relativa potencia, buena cobertura en la pista, empieza a variar el juego en función del oponente, juego agresivo en la red, buena anticipación).
Nivel 5.0 : La diferencia y mejora con respecto al anterior nivel se basa en afianzar y potenciar todo lo anterior, en este caso ya apenas comete errores con el revés y su volea, las bajadas de pared son totalmente agresivas y empieza ser más inteligente y disciplinado en la pista ya que prepara los puntos intentando llevárselos al terreno donde dicho jugador es más seguro, es más consciente de cuándo debe tomar riesgos, aprovecha y ve mejor los puntos débiles del contrario y los ataca.
Nivel 5.5 : Apenas existe diferencia entre este jugador y el anterior, ya se encuentran a un nivel profesional dominan prácticamente todas las facetas del juego son jugadores muy inteligentes en pista y la única pequeña diferencia con los anteriores (5.0) es que en este caso están mejor preparados física y mentalmente que en el anterior nivel.
Nivel 6.0 – 7.0 :Estos jugadores no necesitan categoría, son profesionales expertos, serian lo que hoy denominamos jugadores World Padel Tour.

De este modo quedarían englobados los niveles de juego en padel:

• Los niveles 1 – 1.5 : serían Iniciación
• Los niveles 2 – 2.5 : serían Intermedio
• Los niveles 3 – 3.5 : serían Intermedio Alto
• Los niveles 4 – 4.5 : serían Avanzado
• Los niveles 5 – 5.5 : serían Profesional
• Los niveles 6 – 7 : serían Competición
	</p>

	<p>The first thing is to know that the score ranges from 1.0 to 7.0

Level 1.0: We started the game we are totally novice ...
Level 1.5: We still have very little experience and our level is limited to try to keep the ball in play.
Level 2.0: In the forehand gesture is incomplete and need to improve the direction of the ball, at this stage try to avoid the reverse. As we often make the serve double faults usually avoid coming to the net because we feel safer in the back of the court and got not return the ball after the rebound on the wall.
Level 2.5: In this phase the ball speed has improved and our right is still acceptable, continue to avoid the reverse, but now we're trying to run more often. And just we commit double faults and subtract started slow serves the opposite; incomodándonos the net but still got something else though voleamos forehand and backhand with the same face of the blade. As for the wall we started grabbing some rebounds and try new hits like balloons and spikes. In short we can play ball and starts the game fun.
Level 3.0: Here we go having good consistency and mastery of making the right flat strokes and cut, as the reverse has improved and no longer avoided although we have total control of the coup. The throw and the rest are taking shape and we just commit double faults; Subtracting assiduously opposing the serve, volleys are acceptable especially the right to be more erratic the backhand, we strengthen rebounding wall and our balloons auctions and other special shots begin to be consistent.
Level 3.5: This level is almost similar to the previous highlight that only begin to dominate the direction different strokes and ball speed in the game that we can hold is considerably higher than the previous level. Besides our style of play we are being defined and are generally well positioned as the partner.
Level 4.0: From here things change, we speak of experienced players who are reliable in most of the so-called basic strokes of the game (forehand, backhand, both volleys, serves, rest and balloons) and are beginning to develop hits like the descent wall on both sides and the tray. The air is becoming less and less problem for these players because it is reliable in auctions and giving power routed correctly. This phase is usually the loss of points for lack of patience and misreading of the wall rebounds that we come our way around. The ball speed continues to increase gradually ....
Level 4.5: At this level enumerate the things that this player is already able to do in each of the bumps and facets of the game that is able to master:
Right: Very reliable, uses speed, control and variety of shots with depth.
Backhand: Can control direction and depth but suffers defending difficult shots.
Remove and rest Draw with placement and control, with few double faults, power use and cut balls, debris and aggressive control.
Volleys: It is well positioned foot controls rallies on volleys, has power, control and depth on volleys of rights, makes mistakes when playing with power.
Rebounds: Good wall down right backhand gets depth and placement
Other hits: Get final shots, get to get the ball for 4 sometimes, sometimes gets left volley.
Playing style: Hitting with relative power, good coverage on the track, the game starts to vary depending on the opponent, aggressive net play, well in advance).
Level 5.0: The difference and improvement over the previous level is based on strengthening and enhancing the above, in this case and just make mistakes with the backhand and volleying, sags wall are totally aggressive and start being more intelligent and disciplined on the track as it prepares the points trying to take them to land where the player is safer, more aware of when to take risks, take advantage and better see the weaknesses of the opponent and attacks.
Level 5.5: There is hardly any difference between this player and the previous, already at a professional level dominate virtually all facets of the game are very intelligent players on track and the only small difference with previous (5.0) is that in this case are better physically and mentally prepared than the previous level.
Level 6.0 - 7.0: These players do not need category are skilled professionals would be what we now call World Padel Tour players.

Thus would be encompassed levels paddle game:

• Levels 1 - 1.5: Initiation would
• Levels 2 - 2.5: would Intermediate
• The Levels 3 - 3.5: would Intermediate High
• Levels 4 - 4.5: Advanced would
• Levels 5 - 5.5: would Professional
• Levels 6 to 7: Competition would be</p>