<div class='jumbotron text-center'>

  <p><i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp; Join us!</p>
  <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Find players!</p>
  <p><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Set up a match!</p> 
  <p><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Play a match!</p> 
  <p><i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;Player's ranking!</p>

</div>