	<h4>Our goal is to help bring together any people who are interested in playing paddel in Barcelona, from beginners to advanced players.</h4> 
<h4>We've set up Matches for all players' levels.</h4>

	<h4>Want to join the Barcelona Padel?</h4> 

<h4>It's easy join Barcelona paddel. Register yourself by filing out the form below. The Open Ladder is free to join and there is not signup fee for setting up matches. 

	If you have any questions, you can also get in contact with us directly by contacting <I>Ferran Cabrer i Vilagut</I> at 622254458 or by email at ferran(AT)110.CAT</h4>

<h4> If you have already registered yourself and want to edit your profile or ranking, you can edit your profile by clicking on the link below. There is one login for the site, you can select if you want to play in Barcelona Paddel Matches in the "Play in" menu option. 
</h4>


