    <div class="container">
    <p>Copyright &copy; <!--<%= Time.now.year %>-->, All Rights Reserved MUFICATA RTDI SL | <%= link_to 'Admin Login', admin_posts_path, target: 'blank' %></p>
    </div>